# Object files
*.o

# Libraries
*.lib
*.a
*.lo
*.la

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Eclipse project files
/Debug

.deps
.libs

/aclocal.m4
/configure
/autom4te.cache
Makefile.in
Makefile
/config.log
/config.status
/config/compile
/libsimpleai.pc
/libtool
/INSTALL

*~

.cproject
.project
.settings

CMakeFiles
*.cmake
CMakeCache.txt
/install_manifest.txt
/testbuild.log
*.prof
.dirstamp
