/simpleai-debugger
/Makefile
/*.pro.user
/.moc
/.obj
/.rcc
/*_plugin_import.cpp
/release
/*.Debug
/*.Release
/debug
/.settings
*.qm
/moc_*.cpp
/qrc_resources.cpp
/simpleai-debugger_automoc.cpp
/data/resources.qrc.depends
